
{% extends "base.html" %}

{% block title %}
    HigginsVerse Personality Test
{% endblock title %}
    
{% block page_content %}
    <h1>Hello and welcome to the HigginsVerse Personality Test.</h1>
    <p>This personality test will determin beyond all doubt which 
    <a href="https://www.youtube.com/@FrancisHiggins">Francis Higgins</a> Extended Universe charater you are most similar to.</p>
    <p><a href="{% url 'personality_test:detail' 1 %}">Take the test.</a></p>
{% endblock page_content %}

    