<!doctype html>
<html lang="en-US">
{% load static %}
<head>
    <meta charset="utf-8" />
    <title>Diplomacy Country Assignment</title>
   
    <link rel="stylesheet" href="{% static 'diplomacy_country_assignment/style.css' %}">
</head>
<body>
    
        <h1>Hello and welcome to the Diplomacy Country Assignment tool.</h1>
        <form action="" method="post">
            {{ formset.management_form}}
            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
            {% csrf_token %}
        <table>
            <thead>
                {% for form in formset|slice:":1" %}
                <tr>
                    
                        {% for field in form %}
                            
                                {% if field.label != "Countries" %}
                                    <th title="{{ field.help_text }}" rowspan="2">{{ field.label }}</th>
                                {% else %}
                                    <th title="{{ field.help_text }}" colspan="7">{{ field.label }}</th>
                                    
                                {% endif %}
                            

                        {% endfor %}
                    
                </tr>
                <tr>
                    {% for field in form %}
                        {% if field.label == "Countries" %}
                            {% for check in field.subwidgets %}
                            
                            <th>{{ check.data.label }}</th>
                            
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
            </thead>
            <tbody>
                {% for form in formset %}
                <tr>
                    {% for field in form %}
                    
                        {% if field.label != "Countries" %}
                            <td>{{ field }}</td>
                        {% else %}
                            {% for check in form.countries %}
                                <td>
                                    <label for="{{ check.id_for_label }}">{{ check.tag }}</label>
                                </td>
                            {% endfor %}
                        {% endif %}
                    
                    {% endfor %}

                </tr>
                
                {% endfor %}
            </tbody>
        </table>
        <input type="submit" value="Submit">
        </form>
</body>
</html>