{% extends "webpage0.html" %}
{% load static %}
{% block main %}
<!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
<div class="w3-main" style="margin-left:250px">

  <div class="w3-row w3-padding-64">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal">Publications</h1>
      <h5 class="w3-text-green"><a href="http://hdl.handle.net/2262/98453"><font color="000000">Probing the Solar Corona at High Temporal and Spatial Resolution with the Low Frequency Array</font></a><br>
        <font size="2">Pearse C. Murphy<br>
        PhD Thesis </font></h5>
      <h5 class="w3-text-green"><a href="https://ui.adsabs.harvard.edu/abs/2021arXiv210811251M/abstract"><font color="000000">First Results from the real-time Transient Acquisition (REALTA) backend at the Irish LOFAR station</font></a><br>
      <font size="2">Pearse C. Murphy ; Callanan, P. ; McCauley, J. ; McKenna, D. J. ; Fionnagáin, D. Ó. ; Louis, C. K. ; Redman, M. P. ; Cañizares, L. A. ; Carley, E. P. ; Maloney, S. A. ; Coghlan, B. ; Daly, M. ; Scully, J. ; Dooley, J. ; Gajjar, V. ; Giese, C. ; Brennan, A. ; Keane, E. F. ; Maguire, C. A. ; Quinn, J. ; Mooney, S. ; Ryan, A. M. ; Walsh, J. ; Jackman, C. M. ; Golden, A. ; Ray, T. P. ; Doyle, J. G. ; Rigney, J. ; Burton, M. ; Gallagher, P. T. <br>
      Astronomy & Astrophysics, Volume 655 (2021)</font></h5>
      <h5 class="w3-text-green"><a href="https://ui.adsabs.harvard.edu/abs/2021A%26A...645A..11M/abstract"><font color="000000">LOFAR Observations of Radio Burst Source Sizes and Scattering in the Solar Corona</font></a><br>
      <font size="2">Pearse C. Murphy, Eoin P. Carley, Aoife Maria Ryan, Pietro Zucca, Peter T. Gallagher<br>
      Astronomy & Astrophysics, Volume 645 (2021)</font></h5>
      <h5 class="w3-text-green"><a href="https://ui.adsabs.harvard.edu/abs/2021arXiv211109599L/abstract"><font color="000000">Observing Jupiter's radio emissions using multiple LOFAR stations: a first case study of the Io-decametric emission using the Irish IE613, French FR606 and German DE604 stations.</font></a><br>
        <font size="2"> Louis, Corentin K. ; Jackman, Caitriona M. ; Griessmeier, Jean-Mathias ; Wucknitz, Olaf ; McKenna, David J. ; Murphy, Pearse ; Gallagher, Peter T. ; Carley, Eoin ; Fionnagáin, Dúalta Ó ; Golden, Aaron ; McCauley, Joe ; Callanan, Paul ; Redman, Matt ; Vocks, Christian  <br>
          Royal Astronomical Society Techniques and Instruments (accepted)</font></h5>
      <h5 class="w3-text-green"><a href="https://ui.adsabs.harvard.edu/abs/2021A%26A...648A..43R/abstract"><font color="000000">LOFAR Imaging of the Solar Corona during the 2015 March 20 Solar Eclipse</font></a><br>
      <font size="2"> Ryan, A. M. ; Gallagher, P. T. ; Carley, E. P. ; Brentjens, M. A. ; Murphy, P. C. ; Vocks, C. ; Morosan, D. E. ; Reid, H. ; Magdalenic, J. ; Breitling, F. ; Zucca, P. ; Fallows, R. ; Mann, G. ; Kerdraon, A. ; Halfwerk, R. <br>
      Astronomy & Astrophysics, Volume 648 (2021)</font></h5>
      <h5 class="w3-text-green"><a href="https://ui.adsabs.harvard.edu/abs/2017SoPh..292..185L/abstract"><font color="000000">A Statistical Analysis of the Solar Phenomena Associated with Global EUV Waves </font></a><br>
      <font size="2">David M. Long, Pearse C. Murphy, Georgina Graham, Eoin P. Carley, David Pérez-Suárez<br>
      Solar Physics, Volume 292, Issue 185, (2017)</font></h5>
      
      <h2>Oral Presentations</h2>
      <h5 class="w3-text-green"><a href="https://mosaiics.astro.bas.bg/?page_id=165">International Workshop on Machine Learning and Computer Vision in Heliophysics</a><br>
       19th - 21st April 2023</font></h5>
       <font size="2">Sofia, Bulgaria<br>
      <p> Automatic recognition of solar radio bursts in NenuFAR observations.</p>
      <h5 class="w3-text-green"><a href="https://lofar.ie/stellar-sww/">STELLAR Space Weather Workshop</a><br>
	      <font size="2">Virtual<br>
       12th - 15th July 2021</font></h5>
      <p>LOFAR Single Station Radio Data Analysis Tutorial</p>
      <h5 class="w3-text-green"><a href="https://lofar.ie/ilofar-workshop-2020/">I-LOFAR Science and Techniques Workshop</a><br>
      <font size="2">I-LOFAR Education Centre, Birr Castle, Co. Offaly, Ireland<br>
       2nd - 4th March 2020</font></h5>
      <p>Scattering of Radio Waves in the Solar Corona</p>
      <h5 class="w3-text-green"><a href="https://lofar.ie/ilofar-workshop-2020/">I-LOFAR Science and Techniques Workshop</a><br>
      <font size="2">I-LOFAR Education Centre, Birr Castle, Co. Offaly, Ireland<br>
       2nd - 4th March 2020</font></h5>
      <p>Single Station Data Analysis Tutorial</p>
      <h5 class="w3-text-green"><a href="https://www.dias.ie/yerac2019/">Young European Radio Astronomers Conference</a><br>
      <font size="2">Dublin Institute for Advanced Studies/Trinity College Dublin, Ireland<br>
       26th - 29th August 2019</font></h5>
      <p>Interferometric Imaging of Type III Bursts in the Solar Corona</p>

      <h5 class="w3-text-green"><a href="https://meetings.aip.de/cesra2019/cms/">Community of European Solar Radio Astronomers Workshop</a><br>
      <font size="2">Leibniz-Institut f&uuml;r Astrophysik Potsdam, Germany<br>
       8th - 12th July 2019</font></h5>
      <p>Interferometric Imaging of Type III Bursts in the Solar Corona</p>

      <h5 class="w3-text-green">Irish National Astronomy Meeting<br>
      <font size="2">Birr, Ireland<br>
       5th - 7th September 2018</font></h5>
      <p>Finding Fast Solar Radio Transients in I-LOFAR Transient Buffer Board Data</p>



      <h2>Poster Presentations</h2>
      <h5 class="w3-text-green"><a href="https://www.inam2019.com/">Irish National Astronomy Meeting</a><br>
      <font size="2">Armagh Observatory and Planetarium, Northern Ireland<br>
      4th - 6th September 2019</font></h5>
      <p>Interferometric Imaging of Type III Bursts with LOFAR</p>
      <p>Winner of best student short talk</p>
    
      <h5 class="w3-text-green"><a href="https://www.nam2019.org/">National Astronomy Meeting</a><br>
      <font size="2">Lancaster University, U.K<br>
      30th June - 4th July 2019</font></h5>
      <p><a href="https://lancaster.app.box.com/v/nam2019-posters/file/483019142149" style="text-decoration:none">Interferometric Imaging of Type III Bursts with LOFAR</a></p>

      <h5 class="w3-text-green"><a href="http://rhessi17.lofar.ie/">17th RHESSI Workshop</a><br>
      <font size="2">Trintiy College Dublin, Ireland<br> 
        18th - 23rd June 2018</font></h5>
      <p>Nanosecond Sampling with I-LOFAR’s Transient Buffer Boards (TBBs)</p>
      
      <h5 class="w3-text-green"><a href="https://jlsworkshop.sciencesconf.org/">International Workshop on Solar, Heliospheric and Magnetospheric Radioastronomy</a><br>
      <font size="2">Observatoire de Paris Meudon, France<br>
      6th - 10th November 2017</font></h5>
      <p>The Irish LOw Frequency ARray (I-LOFAR)</p>

      <h2>Other</h2>
      <h5 class="w3-text-green"><a href="http://brightclub.ie">Bright Club Ireland</a><br>
      <font size="2">Dublin, Ireland<br>
       11th September 2019 and 26th October 2021</font></h5>
      <p><a href="https://youtu.be/VcABpsxm7TQ">Solar themed comedy set #1</a></p>
      <p><a href="https://youtu.be/EDCtCdDOckQ">Solar themed comedy set #2</a></p>
    </div>
    <!--<div class="w3-third w3-container">
      <img src="images/Pearse_Dunsink_Photo.png" alt="Me infront of Dunsink Observatory" width="100%"> 
      <p class="w3-border w3-padding-large w3-padding-32 w3-center">AD</p>
      <p class="w3-border w3-padding-large w3-padding-64 w3-center">AD</p>
    </div>-->
  </div>
    <!--
  <div class="w3-row">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal">Heading</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum
        dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div class="w3-third w3-container">
      <p class="w3-border w3-padding-large w3-padding-32 w3-center">AD</p>
      <p class="w3-border w3-padding-large w3-padding-64 w3-center">AD</p>
    </div>
  </div>

  <div class="w3-row w3-padding-64">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal">Heading</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum
        dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div class="w3-third w3-container">
      <p class="w3-border w3-padding-large w3-padding-32 w3-center">AD</p>
      <p class="w3-border w3-padding-large w3-padding-64 w3-center">AD</p>
    </div>
  </div>
  -->
  <!-- Pagination -->
  <!--<div class="w3-center w3-padding-32">
    <div class="w3-bar">
      <a class="w3-button w3-black" href="#">1</a>
      <a class="w3-button w3-hover-black" href="#">2</a>
      <a class="w3-button w3-hover-black" href="#">3</a>
      <a class="w3-button w3-hover-black" href="#">4</a>
      <a class="w3-button w3-hover-black" href="#">5</a>
      <a class="w3-button w3-hover-black" href="#">»</a>
    </div>
  </div>
  -->
{% endblock main %}
